html,
body {
}

div.leftPart {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #e0e0e0;
  color: #004000;
}

div.menuBlock a:link {
  color: #004000;
}
div.menuBlock a:visited {
  color: #004000;
}
div.menuBlock a:hover {
  color: #008000;
}


div.rightPart {
    margin-left: 200px;
}

span.menuBlockHeader {
	font-weight: bold;
}

iframe.docFrame {
	height: 800px;
	width: 90%;
	scrolling: auto;
}

h1 {
	color: #004000;
}

/* Set the fixed height of the footer here */
div.footer {
  margin-left: 200px;
  font-size: smaller;
  background-color: #e0e0e0;
  padding: 20px 25px 0px 0px;
  min-height: 2em;
  color: #004000;
}


